
$primaryfont1:      'Open Sans', sans-serif;


$primaryfont1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$primarycolor: #ff8000;
$displaycolor: #696969;
$blueLink: #009eea; $blueLink-hover: #0086c6;
$Achievers: #00b300;
$Toprankers: #ffff06;
$Highliners: #ff860d;
$Beginners:red;
$primarycolor2: #ff8000; $primarycolor2-hover: #ff8c1a; $primarycolor2-hover2: #ffa346;
$primarycolor3:#00557d; $primarycolor3-hover: #0073aa;
$primarycolor3: #1a8cff; $primarycolor2-hover: #ff8c1a;
$subwhite: #e6e6e6;
$subwhite2: #c5c5c5;
$grey: #f8f8f8;


