@charset "utf-8";
@viewport { width: device-width; }

$primarycolor:          #f5995c;

.Instagram{
	cursor: pointer;

	&__str0 {
		stroke:#fff;
		stroke-width:4.8307;

		&:hover{
			stroke:$primarycolor;	
		}
		
	}
	&__fil0 {
		fill:none
	}

}

.Twitter{
	cursor: pointer;

	&__str0 {
		stroke:#fff;
		stroke-width:8.8307;

		&:hover{
			stroke:$primarycolor;	
		}
		
	}
	&__fil0 {
		fill:none
	}

}

.Facebook{
	cursor: pointer;

	&__str0 {
		stroke:#fff;
		stroke-width:2.775343;

		&:hover{
			stroke:$primarycolor;	
		}
		
	}
	&__fil0 {
		fill:none
	}

}
.Logo{
	cursor: pointer;

	&__fil0 {
		fill:#000;
		fill-rule:nonzero;
	}
	&__fil1 {
		fill:#000;
	}

	&__alt{

		&__fil0 {
			fill:#fff;
			fill-rule:nonzero;
		}
		&__fil1 {
			fill:#fff;
		}

	}

	

}
.Menu{
	cursor: pointer;

	&__str0 {
		stroke:#fff;
		stroke-width:10.39739
		
	}
	&__fil0 {
		fill:none
	}

}
.Phone{
	cursor: pointer;

	&__str0 {
		stroke:$primarycolor;
		stroke-width:3.27482;

		@media (min-width: 200px) and (max-width:800px) {
			stroke-width:5.27482
		 }
		
	}
	&__fil0 {
		fill:none
	}

}

.Message{
	cursor: pointer;

	&__str0 {
		stroke:$primarycolor;
		stroke-width:8.07681
		
	}
	&__fil0 {
		fill:none
	}

}
.Clock{
	cursor: pointer;

	&__str0 {
		stroke:$primarycolor;
		stroke-width:5.63004;

		@media (min-width: 200px) and (max-width:800px) {
			stroke-width:6.27482
		 }
		
	}
	&__fil0 {
		fill:none
	}

}