@charset "utf-8";
@viewport { width: device-width; }

$blueLink: #009eea; $blueLink-hover: #0086c6;

.Button{
   border:none;
   width: 300px;
   text-align: center;
   padding: 5px 0px;
   border-radius: 20px;
   margin-bottom: 10px;
   cursor: pointer;
}
.Home{

   &__Context{
      color: #fff;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 60;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      &__Logo{
         font-size: 46px;

         span{
            font-size: 66px;
            font-weight: bold;
            color: rgb(236, 168, 41);
         }
      }
      &__VisButton{
         @extend .Button;
         border: 1px solid #fff;
         background-color:  #fff;
         &:hover{
            background-color:  rgb(240, 234, 234);
   
         }
   
      }
      &__RepButton{
         @extend .Button;
         background-color: rgb(107, 221, 250);

         &:hover{
            background-color: rgb(155, 232, 252);
   
         }
      }
   }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 50;
   
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    bottom: 1px;
    background-image: linear-gradient(to top, #12325c 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
@keyframes move_wave {
   0% {
       transform: translateX(0) translateZ(0) scaleY(1)
   }
   50% {
       transform: translateX(-25%) translateZ(0) scaleY(0.55)
   }
   100% {
       transform: translateX(-50%) translateZ(0) scaleY(1)
   }
}



@media (min-width: 750px) and (max-width:1100px) {

   

}

/************* style display for screen not more than 739px and min of 510px    Breakpoint 3  ******/
@media (min-width: 550px) and (max-width:750px) {

    
}



/************* style display for screen not more than 509px and min of 300px     Breakpoint 4  ******/
@media (min-width: 200px) and (max-width:550px) {

   

}